<!DOCTYPE html>

<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <%- include('partials/recorders') %>
  <main id="main">
    <section id="about" class="about section-bg">
      <p class="text-center " id="model-used">You are currently using the <b class="text-info ">anthropic.claude-v2 </b>model</p>
      <div class="container" data-aos="fade-in">
        <audio id="recorder" muted hidden></audio>
        <div class="row justify-content-md-center">
          <div class="col col-lg-2 mt-1">
            <button class="btn scrollto btn-primary btn-lg" style="width:200px; background-color:#2f4c7e" id="start">Record</button>
          </div>
          <div class="col col-lg-2 mt-1">
            <button class="btn scrollto btn-primary btn-lg" style="width:200px; background-color:#2f4c7e" id="stop">Stop Recording</button>
          </div>
        </div>
        <div class="row">
          <div class="col text-center mt-3">
            <audio id="player" controls></audio>
          </div>
        </div>
        <div class="row">
          <div class="col text-center mt-2">
            <button class="btn btn-primary btn-lg" id="transcribe" style="width:200px; background-color:#2f4c7e" hidden>Transcribe</button>
          <div>
            <progress class="mt-2" id="progress-bar" aria-label="Content loading…" hidden></progress>
          </div> 
          <div color:black; class="mt-2" id="progress-text" hidden>Please be patient while your recording is being summarised.</div>
        </div>
      </div>
      <!-- <form id="model-form" class="row justify-content-md-center">
        <div class="col-auto">
          <input class="form-control mt-6" id="question-followup" style="width:600px;" hidden placeholder="Ask a follow-up question..">
        </div>
        <div class="col-auto">
          <button id="question-followup-button" style="width:150px; background-color:#2f4c7e" type="button" hidden class="btn btn-primary mb-3">Submit</button>
        </div>
      </form> -->
      <div class="container-fluid">
        <div class="form-group pt-5 container">
          <textarea id="recorderResults" class="form-control" hidden></textarea>
        </div>
      </div>
    </section>

    <%- include('partials/faq') %>

  </main><!-- End #main -->

  <%- include('partials/footer') %>

</body>
<script src="../assets/js/recorder.js"></script>
</html>