<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<head>
  <link href="src/assets/css/texter.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" rel="text/javascript">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="text/javascript">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  <%- include('partials/header') %>
  <%- include('partials/section') %>

  <main id="main">

    <div class="container">
      <p class="ml-5 pt-1"></p>
          <b>Disclaimer:</b> This is a demo app. Do not use this to record customer meetings or conversations you do not have permission to record.
      </p>
    </div class="container">
    <section id="about" class="texter section-bg">
      <div class="container" data-aos="fade-in">
        <div class="row height d-flex justify-content-center align-items-center">

          
        </div>
    </section>

    <%- include('partials/faq') %>

  </main><!-- End #main -->

  <%- include('partials/footer') %>

</body>

</html>